# folders or files
datasets/*
.vscode/
.ipynb_checkpoints/
.idea/
output/*
checkpoints/*
pseudo_label/*
third_party/detectron2

cubercnn/external/

# filetypes
*.pyc
*.mexa64
*/output/*
*/output*/*
*~
*.so
*.ipynb
